
body {
  background-color: #FEFAF7;

}

h1 {

  color: #154D57;
  text-align: center;
  letter-spacing: 20px;
}
h2{
  color: #154D57;
}
h3{
  color: #154D57;

}
nav{
  text-align: center;
  font-size: 20px;
  
}
img{
  text-align: left;
}
hr {
  color: chocolate;
}
h6 {
  color:#B7A08B;
  font-size: 18px;

}
.projects{
  display: flex;
  font-size: 19px;
  border-width: 1px;
  border-color: black;
  height: 200px;
  width: inherit;
  vertical-align: middle;
}
a{
  color: olive;
  text-decoration: none;
}
.one {
  width: 6500px;
  height:30px;
  border-color: #154D57;
  border-radius: 1px;
  border: solid;
  background-color: beige;
  color: olive;
  padding-top: 1px;
  text-align: center;
  margin: 20px;
}
.one:hover{
  background-color: olive;
  color: beige;
  border-color: beige;
}
