
body {
    background-color: #FEFAF7;

}

h1 {

   color: #154D57;
   text-align: center;
   letter-spacing: 20px;
}
h2{
    color: #154D57;
}
h3{
    color: #154D57;

}
img{
    text-align: left;
}
hr {
color: chocolate;
}
p {
    color:#B7A08B;
    
}
div{
    font-size: 19px;
    
}
.one{
    height:6px;
    border-color: #154D57;
    border-radius: 1px;
    border: solid;
    background-color: beige;
    color: olive;
    padding:1px;
}